/* --- Base --- */
* { box-sizing: border-box; }
body { margin: 0; font-family: system-ui, Arial, sans-serif; line-height: 1.5; }
a { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

.container { max-width: 1000px; margin: 0 auto; padding: 24px; }

/* --- Header/Nav --- */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-bottom: 1px solid #06402B;
}

.logo { font-weight: 700; }

.navbar {
  padding-block: 0.25rem;
}

.navbar-nav .nav-link {
  font-family: "Atkinson Hyperlegible Mono", monospace;
  font-weight: 500;
  font-size: 0.8rem;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 4px 8px;
}

.navbar-nav .nav-link.active {
  background: #06402B;
  color: #fff;
}


/* --- fonts --- */
p {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 16px;   
  line-height: 1.8;
  letter-spacing: -0.03em;
  color: #000;
}
h1 {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 40px;   
  color: #06402B;
  font-weight: 700;    /* bold */
}
h2 {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 30px;   
  color: #000;
  font-weight: 600;    /* bold */
}
h3 {
  font-family: "Atkinson Hyperlegible Mono";
  font-size: 24px;   
  color: #06402B;
  font-style: italic;
}
/* --- img in Home --- */
.home-headshot {
  max-width: 180px;
  border: 2px solid #fff;
}
ul,
ol,
li {
  font-family: inherit;
}
ul.star-list {
  list-style: none;
  padding-left: 1.2em;
}

ul.star-list li::before {
  content: "★";
  color: #06402B;     
  margin-right: 0.6em;
}
.btn,
button {
  background-color: #06402B;
  border-color: #06402B;
  color: #fff;
  font-family: "Atkinson Hyperlegible Mono", monospace;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn:focus-visible,
button:hover,
button:focus,
button:active,
button:focus-visible {
  background-color: #052f20;
  border-color: #052f20;
  color: #fff;
  box-shadow: none;
  outline: none;
}



/* --- Projects --- */
.project-thumb {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  border-radius: 0 !important;
}

#projects a:not(.btn) {
  color: #06402B;
  text-decoration: underline;
}


#projects a:not(.btn):hover {
  color: #052f20;
}



/* --- Footer --- */
.site-footer {
  padding: 24px;
  border-top: 1px solid #06402B;
  text-align: center;
}
